{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Oro File Inventor</h1>
        </div>
        <div class="row">
            <form action="" method="post" class="for">
                <div class="input-group">
                    <span class="input-group-addon">
                        {{ form_widget(form.isRegex) }} Regex?
                    </span>
                    {{ form_widget(form.search, {'attr': {'class': 'form-control'} }) }}
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-success" value="Search"/>
                    </span>
                </div>
                {{ form_widget(form._token) }}
            </form>
            {% if searched %}
                <div>
                    <h3 class="text-center results">Results:</h3>
                    {% for group in searchResult %}
                        <div>
                            <code>Search folder: <strong>{{ group.rootSearchFolder }}</strong></code>
                            <br/>
                            <code>Number of results: <strong>{{ group.numberOfResults }}</strong></code>
                        </div>
                        <br/>
                        {% if group.numberOfResults > 0 %}
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Extension</th>
                                </tr>
                                {% for file in group %}
                                    <tr class="file-info">
                                        <td><kbd class="file-name">{{ file.name }}</kbd></td>
                                        <td>{{ file.folder }}</td>
                                        <td><kbd>{{ file.extension }}</kbd></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        <hr/>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
